html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  #game-canvas {
    display:none;
    /*border: solid black 1px;*/
    background-image: url('../../../public/tabletop.jpg');
    background-repeat: repeat;
    /*width: 600px;
    height: 600px;*/
    /*margin: auto;*/
    /*margin-top: 20px;*/
  }