html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  #background {
    display:none;
    /*border: solid black 1px;*/
    background-image: url('../../../public/tabletop.jpg');
    background-repeat: repeat;
    /*width: 600px;
    height: 600px;*/
    /*margin: auto;*/
    /*margin-top: 20px;*/
    position: absolute;
    z-index: 1;
  }
  #foreground {
    display:none;
    background-color: transparent;
    position: absolute;
    z-index: 2;
  }